* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background-color: #37c5b9;
}
.card {
    margin: 20px 5px;
    padding: 10px;
    width: 80%;
    background-color: #fff;
}
.card-title {
    font-size: 35px;
}
.card p {
    font-size: 25px;
    line-height: 30px;
    font-style: italic;
}

/*scrollbar styles*/
::-webkit-scrollbar {
    background-color: transparent;
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#FFE53B, #FF2525);
    border-radius: 30px;
} 