body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

.heading {
    font-size: 15rem;
    font-family: cursive;
    background: url(https://images.unsplash.com/photo-1589994160839-163cd867cfe8?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDJ8Xzh6Rkh1aFJoeW98fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    color: transparent;
    background-clip: text;
}