.container {
    text-align: center;
    margin-top: 100px;
  }
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #3b9aff;
    border: none;
    color: white;
  }
  